# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
/.vscode
*.iml

# output
/test/target/
/test/dist/


# dependencies
/test/node_modules/

# debug
/test/debug.log
